* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	position: relative;
	height: 100vh;
	background-color: rgb(163, 236, 208);
	display: flex;
}
#form {
	padding: 2.5%;
	border-radius: 10px;
	background-color: rgb(243, 255, 255);
	box-shadow: black 5px 5px 15px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto 0;
	margin-left: 8%;
}
#form:hover {
	border: 1px solid white;
	box-shadow: gray 5px 5px 15px;
}
.form_label_text {
	font-size: 18px;
	color: teal;
}
.form_label {
	width: 100%;
	display: flex;
	justify-content: space-between;
	min-width: 400px;
}
.form_input {
	outline: none;
	border: none;
	background: rgb(206, 230, 221);
	height: 30px;
	width: 200px;
	border-radius: 5px;
	color: lightslategray;
	font-weight: 500;
	padding: 2px;
	padding-bottom: 1px;
	text-align: center;
	font-size: 16px;
}
#btn {
	background-color: teal;
	color: whitesmoke;
	border: none;
	padding: 10px 40px;
	padding-bottom: 7px;
	cursor: pointer;
	font-size: 14px;
	border-radius: 5px;
	margin-top: 20px;
}
#btn:hover {
	background-color: rgb(3, 175, 175);
}
#back_image {
	width: 60%;
	height: 60%;
	margin: auto 0;
	margin-left: 12%;
}
.title {
	position: absolute;
	top: 2.5%;
	left: 2.5%;
	font-size: 60px;
	color: teal;
	display: flex;
	line-height: 50px;
}
#the_c {
	color: whitesmoke;
	background-color: teal;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
}

@media screen and (max-width: 700px) {
	#back_image {
		display: none;
	}
	#form {
		width: 100%;
	}
}
